<div class="container">
  <h2>Add new Book</h2>
  <form addbookform="ngForm" (ngSubmit)="addbookFormSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="book.name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="description">Author:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="book.author"
        name="author"
      />
    </div>
    <div class="form-group">
      <label for="name">Year:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="book.dateYear"
        name="dateYear"
      />
    </div>
    <div class="form-group">
      <label for="name">Price:</label>
      <input
        type="text"
        class="form-control"
        required
        [(ngModel)]="book.price"
        name="price"
      />
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
